// top bar
$top-bar-height: em-nav(36px);
$top-bar-height-px: 36px;

// post page
$branch-menu-structure-width: 15px;
$branch-menu-structure-color: #eee;
$branch-menu-focus-color: #999;
$continue-cta-top: 20px;
$post-page-box-shadow-bottom-height: 15px;
