<template name="GenresMenu">
  <div class="sub-menu" id="genres-menu"> <!-- open genres-menu -->
    <ul class="menu-list">
      <li><a href="/">Adventure</a></li>
      <li><a href="/">Animals</a></li>
      <li><a href="/">Comedy</a></li>
      <li><a href="/">Crime Fiction</a></li>
      <li><a href="/">Fable</a></li>
      <li><a href="/">Fan Fiction</a></li>
      <li><a href="/">Fantasy</a></li>
      <li><a href="/">Friendship</a></li>
      <li><a href="/">Historical Fiction</a></li>
      <li><a href="/">Horror</a></li>
      <li><a href="/">Mystery</a></li>
      <li><a href="/">Paranormal</a></li>
      <li><a href="/">Philosophy</a></li>
      <li><a href="/">Poetry</a></li>
      <li><a href="/">Realisitic Fiction</a></li>
      <li><a href="/">Romance</a></li>
      <li><a href="/">Science Fiction</a></li>
      <li><a href="/">Thrillers</a></li>
      <li><a href="/">Tall tale</a></li>
      <li><a href="/">Western</a></li>
    </ul>
  </div> <!-- close genres-menu -->
</template>
