// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So 1.5rem = 15px :)

html {
  box-sizing: border-box;
  height: 100%;
}

html {
  overflow-x: hidden !important;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0); //remove blue anchor active state
}

body {
  color: $font-color;
  background-color: #fff;
  font-family: $font-family--primary;
  font-weight: 400;
  height: 100%;
  position: relative;
  width: 100%;
  word-wrap: break-word;
}

hr {
  border-bottom-color: #eee;
}

#wrapper {
  height: 100%;
  width: 100%;
}
