//@mixin bg-colors($map) {
//  @each $theme, $color in $map {
//    &--#{$theme} {
//      background-color: $color;
//    }
//  }
//}


@mixin img-replace($img, $w, $h, $disp: block) {
  background-image: url('#{$path--rel}/#{$img}');
  background-repeat: no-repeat;
  width: $w;
  height: $h;
  display: $disp;
}

/* exp
.site-logo {
  margin-bottom: 2em;
  @include img-replace("logo.svg", 115px, 45px, inline-block);
}

<a class="site-logo" href="/">
  <b class="srt">Poly - UI Toolkit</b>
</a>
*/

// Pseudo Element
@mixin p-el($el, $el-w: null, $el-h: null) {
  @if $el == "before" or $el == "after" {
    &:#{$el} {
      @extend %pseudos;
      width: $el-w;
      height: $el-h;
      @content;
    }
  } @else {
    @error "`#{$el}` is not a valid pseudo-element.";
  }
}
